$backgroundPrimary: #000000
$fontColor: blue

body
  background: $backgroundPrimary
  color: $fontColor
  background-image: url('http://media.complex.com/campaigns/2014-q4/nixon-spectrum/mobile/nixon_cover.jpg')
  background-repeat: no-repeat
  background-position: top


.button
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  -o-transition: all 0.3s
  transition: all 0.3s
  &::after
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    -o-transition: all 0.3s
    transition: all 0.3s
  background: none
  border: 1.5px solid #fff
  border-radius: 5px
  color: #fff
  display: block
  font-weight: bold
  padding: 1em 3em
  position: relative
  text-transform: uppercase
  font-family: 'Saira Semi Condensed', sans-serif
  &::before, &::after
    background: #fff
    content: ''
    position: absolute
    z-index: -1
  &:hover
    text-decoration: none
    color: #FF4C54
  &::after
    height: 0
    left: 50%
    top: 50%
    width: 0
  &:hover:after
    height: 100%
    left: 0
    top: 0
    width: 100%
