body
  background: #000000
  color: #EC0322
  background-image: url("http://media.complex.com/campaigns/2014-q4/nixon-spectrum/mobile/nixon_cover.jpg")
  background-repeat: no-repeat
  background-position: top
  font-family: 'Poiret One', cursive

.button
  -webkit-transition: all 0.3s
  -moz-transition: all 0.3s
  -o-transition: all 0.3s
  transition: all 0.3s
  background: none
  border: 1.5px solid #fff
  border-radius: 5px
  color: #fff
  display: block
  font-weight: bold
  font-size: 1em
  padding: 1em 3em
  position: relative
  text-transform: uppercase
  font-family: 'Poiret One', cursive
  &::after
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s
    -o-transition: all 0.3s
    transition: all 0.3s
  &::before, &::after
    background: #fff
    content: ''
    position: absolute
    z-index: -1
  &:hover
    text-decoration: none
    color: #FF4C54
  &::after
    height: 0
    left: 50%
    top: 50%
    width: 0
  &:hover:after
    height: 100%
    left: 0
    top: 0
    width: 100%

.animation-box
  width: 75%
  height: 27.5rem
  margin: 0 auto
  overflow: hidden
  position: relative

.animation-container
  width: 1000rem
  height: 30rem

@keyframes fadeInUp
  from
    opacity: 0

  to
    opacity: 1
    
.welcomeMsg
  font-size: 3.4rem
  position: absolute
  top: 10.5rem
  color: #FF253A
  animation-name: fadeInUp
  animation-delay: .0s
  animation-duration: 10s

.watchLine
  font-size: 3.4rem
  position: absolute
  top: 10.5rem
  color: #FF253A
  animation-name: fadeInUp
  animation-delay: .3s
  animation-duration: 15s

.fa
  padding: 20px
  font-size: 30px
  width: 30px
  text-align: center
  text-decoration: none
  margin: 5px 2px
  border-radius: 50%
  &:hover
    opacity: 0.7

.fa-facebook
  background: #3B5998
  color: white

.fa-twitter
  background: #55ACEE
  color: white

.fa-instagram
  background: #125688
  color: white

.fa-pinterest
  background: #cb2027
  color: white

.fa-tumblr
  background: #2c4762
  color: white

.msgWrapper
  display: flex
  justify-content: center

.watchLine
  margin-top: 20%

.mediaLine
  text-align: center
  font-size: 1.2em

li > p
  color: #44585E

.watchSpecs
  display: flex
  justify-content: space-evenly
  font-size: 1.2em

ul
  width: 350px
  margin-top: 5%
  list-style: none

.social__container
  display: flex
  justify-content: space-evenly
  margin-top: 3%

footer
  text-align: center
  margin-top: 2%

img
  width: auto
  height: auto

.nav-link
  display: flex
  justify-content: center
  margin-top: 3%
  text-decoration: none
